@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;500;600;700&display=swap');
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 200px;
}
body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #e8413b;
}
.btn-primary{
    border-radius: 5px;
    background-color: #e8413b;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 15px 35px;
}

.port-title{
    color: #181818;
    
    font-size: 45px;
    font-weight: 900;
}
nav  > ul{
    display: flex;
    align-items: center;
}
nav ul{
    list-style: none;
}
nav li{
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.header{
    background-color: #f5e5da;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .port-banner-pic{
    width: 500px;
}